<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Log in</title>

    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/css/login.css}" rel="stylesheet">


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1>Hybrid Payment Security Model</h1>
            <form class="form-inline" th:action="@{/}" method="POST" >
                <button class="btn btn-outline-dark btn-lg btn-custom-logout"  type="submit" > HOME </button>
            </form>
        </div>
        <div class="col-sm-5">
            <h2>Welcome Back</h2>
            <form class="form-style"  name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <!-- Thymeleaf + Spring Security error display -->
                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username and password.
                    </div>

                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>


                    <!-- Login Controls -->
                    <div class="form-group">
                        <input type="text" class="form-control custom-input" id="username" name="username"
                                placeholder="Username"  value="user"  required
                                oninvalid="this.setCustomValidity('Please Enter Username')"
                                oninput="this.setCustomValidity('')"  />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control custom-input" id="password" name="password"
                                placeholder="Password"  value="pass"  required
                                oninvalid="this.setCustomValidity('Please Enter Passward')"
                                oninput="this.setCustomValidity('')" />
                    </div>
                    <button type="submit" class="btn btn-outline-dark btn-lg btn-custom-login"> LOGIN </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
